################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/apps/MyDay2/Debug
Release
ipch
Debug
*.suo
*.sdf
*.vcxproj.user
